body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  label, select {
    margin-bottom: 10px;
  }

  table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
  }
  
  table th, table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
#result{
    border-color: black;
    border-width: 2px;
    border-style: double;
}
td.selected {
    background-color: yellow;
  }